<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/FeStyles.css">
    <title>Technician</title>
</head>
<body>
<nav>
    <div class="navbar">
        <p>Unternehmenname und Logo</p>
        <p>Technician</p>
        <p>Logout</p>
    </div>
</nav>
<section class="container">
    <div class="ticketContainer">
        <div>
            <h3 class="ticketHeadline">
                <span> CustomerName news site search bar </span>
                <a>#CU-144</a>
            </h3>
            <span class="ticketBasics">
                <p>Time estimate: 1h 15m</p>
                <p>Priority: Blocker</p>
                <p>Creation date: 12/12/23</p>
                <p>Status: Open</p>
                <p>Due by: 15/12/23</p>
                <p>Category: Login</p>
            </span>
        </div>
    </div>
</section>
<section class="container">
    <div class="ticketContainer">
        <div class="ticketContent">
            <h3 class="ticketHeadline">
                <span> CustomerName2 news site search </span>
                <a>#CU-144</a>
            </h3>
            <span class="ticketBasics">
                <p>Time estimate: 1h</p>
                <p>Priority: Highest</p>
                <p>Creation date: 13/12/23</p>
                <p>Status: Closed</p>
                <p>Due by: 15/12/23</p>
                <p>Category: Returns</p>
            </span>
        </div>
    </div>
</section>
<section class="container">
    <div class="ticketContainer">
        <div class="ticketContent">
            <h3 class="ticketHeadline">
                <span> CustomerName3 news site </span>
                <a>#CU-144</a>
            </h3>
            <span class="ticketBasics">
                <p>Time estimate: 15m</p>
                <p>Priority: Lowest</p>
                <p>Creation date: 15/12/23</p>
                <p>Status: Not reproducible</p>
                <p>Due by: 15/12/23</p>
                <p>Category: History</p>
            </span>
        </div>
    </div>
</section>
</body>
</html>
