<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/FeStyles.css">
    <title>Support</title>
</head>
<body>
<nav>
    <div class="navbar">
        <p>Unternehmenname und Logo</p>
        <p>Ticket creation</p>
        <p>Support</p>
        <p>Logout</p>
    </div>
</nav>
<section class="formContainer">
    <form>
        <div class="customerID">
            <label for="customerID">Customer ID:</label>
            <input type="text" id="customerID" name="customerID" value="CUS-144">
        </div>
        <div class="title">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="CustomerName news site search bar"><br>
        </div>
        <div class="description">
            <label for="description">Description:</label>
            <textarea id="description" name="description">Lorem Ipsum dolor</textarea>
        </div>
        <div class="estimatedTime">
            <label for="ET">Time estimate:</label>
            <input type="text" id="ET" name="ET" value="1h 15m">
        </div>
        <div class="priority">
            <label for="priority">Priority:</label>
            <select type="text" id="priority" name="priority" value="Highest">
                <option value="Blocker"></option>
                <option value="Highest"></option>
                <option value="Medium"></option>
                <option value="Lowest"></option>
            </select>
        </div>
        <div class="creationD">
            <label for="creationD">Creation Date:</label>
            <input type="text" id="creationD" name="creationD" value="12/12/23">
        </div>
        <div class="dueDate">
            <label for="dueD">Due by:</label>
            <input type="text" id="dueD" name="status" value="15/12/23">
        </div>
    </form>
</section>
</body>
</html>
